<title>HISPIRE | {{{__ 'services title'}}}</title>
<div id="bg__services" class="bg--full-fixed"></div>
{{> menu}}
<main id="services" class="small-text-center large-text-left wow fadeIn" data-wow-duration="1s" data-wow-delay=".8s" role="main">
  <div class="section__header">
    <h1 class="section__title animated fadeInDown text-center">
      {{{__ 'services heading'}}}
    </h1>
    <!--<h2 class="section__tagline animated fadeInUp text-center">
      {{{__ 'services tagline'}}}
    </h2>-->
  </div>
  <!--<h1 class="section__title animated fadeInDown text-center">We make your business grow forward and take on the world.</h1>-->
  <section class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
    <div class="row">
      <div class="small-12 medium-12 large-8 small-centered text-center columns">
        <h2 class="card__title">{{{__ 'services tools'}}}</h2>
      </div>
      <div class="small-12 medium-12 large-8 small-centered columns">
        <h3 class="section__subtitle text-center">
          {{{__ 'websites'}}} &#149; {{{__ 'apps'}}} &#149; {{{__ 'ecommerce'}}}
        </h3>
      </div>
    </div>
    <div class="row small-collapse">
      <div class="service__img small-12 medium-7 small-centered large-uncentered large-6 columns">
        <img src="/img/tools.jpg" alt="" />
      </div>
      <div class="small-12 large-6 columns">
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/design.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'tools perk 1 title'}}}</h3>
              <p>
                {{{__ 'tools perk 1 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/ux.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'tools perk 2 title'}}}</h3>
              <p>
                {{{__ 'tools perk 2 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="small-12 service__perk columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/control.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'tools perk 3 title'}}}</h3>
              <p>
                {{{__ 'tools perk 3 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="small-12 service__perk columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/develop.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'tools perk 4 title'}}}</h3>
              <p>
                {{{__ 'tools perk 4 text'}}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-12 large-8 text-center small-centered columns">
      <p class="service__footer">
        {{{__ 'tools footer'}}}
      </p>
      <a class="button large" data-pjax href="{{lg}}start-project">
        Let's work together
      </a>
    </div>
  </section>
  <section class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
    <div class="row">
      <div class="small-12 medium-12 large-10 small-centered text-center columns">
        <h2 class="card__title">{{{__ 'services promotion title'}}}</h2>
      </div>
      <div class="small-12 medium-12 large-10 small-centered columns">
        <h3 class="section__subtitle text-center">
          {{{__ 'marketing'}}} &#149; {{{__ 'social'}}} &#149; {{{__ 'newsletter'}}}
        </h3>
      </div>
    </div>
    <div class="row small-collapse">
      <div class="service__img small-centered large-uncentered small-12 medium-7 large-6 columns">
        <img src="/img/promote.jpg" alt="" />
      </div>
      <div class="small-12 large-6 columns">
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/online-marketing.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'promotion perk 1 title'}}}</h3>
              <p>
                {{{__ 'promotion perk 1 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/ia.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'promotion perk 2 title'}}}</h3>
              <p>
                {{{__ 'promotion perk 2 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="small-12 service__perk columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/control.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'promotion perk 3 title'}}}</h3>
              <p>
                {{{__ 'promotion perk 3 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="small-12 service__perk columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/promote.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'promotion perk 4 title'}}}</h3>
              <p>
                {{{__ 'promotion perk 4 text'}}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
    <div class="row">
      <div class="small-12 medium-12 large-10 small-centered text-center columns">
        <h2 class="card__title">{{{__ 'services story title'}}}</h2>
      </div>
      <div class="small-12 medium-12 large-10 small-centered columns">
        <h3 class="section__subtitle text-center">
          {{{__ 'copywriting'}}} &#149; {{{__ 'photo&video'}}} &#149; {{{__ 'blogging'}}}
        </h3>
      </div>
    </div>
    {{#ifvalue locale equals="es"}}
      <p class="small-12 large-8 small-centered columns">
        Tener un contenido de calidad tanto en la web como en las redes sociales es imprescindible para conseguir que tu marca sea más relevante.
        Nosotros nos ocupamos de ello.
      </p>
    {{/ifvalue}}
    <div class="row small-collapse">
      <div class="service__img small-12 small-centered large-uncentered medium-7 large-6 columns">
        <img src="/img/tools.jpg" alt="" />
      </div>
      <div class="small-12 large-6 columns">
        <div class="row small-collapse">
          <div class="small-12 service__perk columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/control.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'story perk 3 title'}}}</h3>
              <p>
                {{{__ 'story perk 3 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/copywriting.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'story perk 1 title'}}}</h3>
              <p>
                {{{__ 'story perk 1 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/consulting.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'story perk 2 title'}}}</h3>
              <p>
                {{{__ 'story perk 2 text'}}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="card wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
    <div class="row">
      <div class="small-12 medium-12 large-10 small-centered text-center columns">
        <h2 class="card__title">{{{__ 'services brand title'}}}</h2>
      </div>
      <div class="small-12 medium-12 large-10 small-centered columns">
        <h3 class="section__subtitle text-center">
          {{{__ 'branding'}}} &#149; {{{__ 'logo design'}}} &#149; {{{__ 'graphic design'}}}
        </h3>
      </div>
    </div>
    <div class="row small-collapse">
      <div class="service__img small-12 medium-7 small-centered large-uncentered large-6 columns">
        <img src="/img/promote.jpg" alt="" />
      </div>
      <div class="small-12 large-6 columns">
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/control.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'branding perk 1 title'}}}</h3>
              <p>
                {{{__ 'branding perk 1 text'}}}
              </p>
            </div>
          </div>
        </div>
        <div class="row small-collapse">
          <div class="service__perk small-12 columns">
            <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
              <img src="/img/branding.svg" alt="" />
            </div>
            <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
              <h3 class="subheading">{{{__ 'branding perk 2 title'}}}</h3>
              <p>
                {{{__ 'branding perk 2 text'}}}
              </p>
            </div>
          </div>
        </div>
        <!--<div class="row small-collapse">
        <div class="small-12 service__perk columns">
        <div class="small-4 medium-2 large-3 xlarge-2 xlarge-offset-1 small-centered medium-uncentered columns">
            <img src="/img/design.svg" alt="" />
          </div>
          <div class="small-12 medium-10 large-9 columns small-text-center medium-text-left media__content">
            <h3 class="subheading">{{{__ 'branding perk 3 title'}}}</h3>
            <p>
              {{{__ 'branding perk 3 text'}}}
            </p>
          </div>
        </div>
      </div>-->
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
  $(function() {
    $("#services-button").addClass('active');
    $('[data-tab]').click(function(e) {
      $(this).siblings().children().removeClass('active');
      $(this).children().addClass('active');
      var id = $(this).attr('data-tab');
      $(id).siblings().hide();
      $(id).show().addClass("animated fadeIn");
      console.log(id);
    })
  });
</script>
{{> ui}}
