<title>HISPIRE | {{{__ 'finca title'}}}</title><div id=bg__services class=bg--full-fixed></div>{{> menu}}<main id=porfolio class="animated fadeIn"><div class=section__header><h1 class="small-11 columns small-centered section__title animated fadeInDown text-center">{{{__ 'finca project title'}}}</h1></div><section id=project class="no-bullet project"><div class="row project__intro"><div class="small-12 medium-10 large-8- xlarge-6 small-centered columns"><h2>{{{__ 'the project'}}}</h2><p>{{{__ 'finca project intro'}}}</p><p>{{{__ 'finca project intro2'}}}</p><h4 class=text-center>{{{__ 'explore project'}}}</h4><div class="small-4 columns" data-tab=#website-section><button type=button class="button button--border small-12 active" name=button>{{{__ 'project webs'}}}</button></div><div class="small-4 columns" data-tab=#branding-section><button type=button class="button button--border small-12" name=button>{{{__ 'project branding'}}}</button></div><div class="small-4 columns" data-tab=#content-section><button type=button class="button button--border small-12" name=button>{{{__ 'project content'}}}</button></div></div></div><div class=row><div class="small-12 xlarge-10 small-centered columns"><div id=website-section class=project__section><div class="small-12 large-6 columns"><h3 id=websites class=subheader>{{{__ 'project web title'}}}</h3><p>{{{__ 'project finca web text'}}}</p></div><div class="small-12 large-6 columns"><img src=/img/porfolio/finca-responsive.jpg></div></div><div id=branding-section class=project__section><div class="small-12 large-6 columns"><h3 class=subheader>{{{__ 'project design title'}}}</h3><p id=graphic-design>{{{__ 'project finca design text'}}}</p></div><div class="small-12 large-6 columns"><img src=/img/porfolio/finca-graphic.jpg></div><div class="small-12 large-6 large-push-6 columns"><h3 class=subheader>{{{__ 'project branding title'}}}</h3><p id=logo-design>{{{__ 'project finca branding text'}}}</p></div><div class="small-12 large-6 large-pull-6 columns"><img src=/img/porfolio/finca-branding.jpg></div></div><div id=content-section class=project__section><div class="small-12 large-6 columns"><h3 class=subheader>{{{__ 'project copywriting title'}}}</h3><p>{{{__ 'project finca copywriting text'}}}</p></div><div class="small-12 large-6 columns"><img src=/img/porfolio/finca-content.jpg></div><div class="small-12 large-6 large-push-6 columns"><h3 class=subheader>{{{__ 'project photo title'}}}</h3><p>{{{__ 'project finca photo text'}}}</p></div><div class="small-12 large-6 large-pull-6 columns"><img src=/img/porfolio/finca-photography.jpg></div></div></div></div></section><div class=row><div class="small-11 small-centered columns link__section text-center"><h3 class="wow fadeIn" data-wow-duration=1s data-wow-delay=.1s>{{{__ 'project footer text'}}}</h3><div class="wow fadeInLeft" data-wow-duration=1s data-wow-delay=.1s><a data-pjax="" href={{lg}}start-project>{{{__ 'project footer action'}}}</a></div></div></div></main><script type=text/javascript>
  $(function() {
    $("#portfolio-button").addClass('active');
    $('[data-tab]').click(function(e) {
      location.hash = $(this).attr('data-tab').split('-')[0];
      $('[data-tab] button').removeClass('active');
      $(this).children().addClass('active');
      var id = $(this).attr('data-tab');
      $(id).siblings().hide();
      $(id).show().addClass("animated fadeIn");
    })
    switch (location.hash.slice(1)) {
      case 'website':
        $('[data-tab] button').removeClass('active');
        $('[data-tab=#website-section] button').addClass('active');
        $('#website-section').siblings().hide();
        $('#website-section').show().addClass("animated fadeIn");
        break;
      case 'branding':
        $('[data-tab] button').removeClass('active');
        $('[data-tab=#branding-section] button').addClass('active');
        $('#branding-section').siblings().hide();
        $('#branding-section').show().addClass("animated fadeIn");
        break;
      case 'content':
        $('[data-tab] button').removeClass('active');
        $('[data-tab=#content-section] button').addClass('active');
        $('#content-section').siblings().hide();
        $('#content-section').show().addClass("animated fadeIn");
        break;
    }
  });
</script>{{> ui}}